<footer>
    <div class="container">
        <div class="column">
            <h4>About us</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, atque culpa repellendus nulla eligendi unde eius accusamus libero quia beatae.</p>
        </div>
        <div class="column">
            <h4>Paslaugos</h4>
            <ul>
                <li><a routerLink="/paslaugos">Paslauga 1</a></li>
                <li><a routerLink="/paslaugos">Paslauga 1</a></li>
                <li><a routerLink="/paslaugos">Paslauga 1</a></li>
            </ul>
        </div>
        <div class="column">
            <h4>Naudinga informacija</h4>
            <ul>
                <li><a routerLink="/">Informacija 1</a></li>
                <li><a routerLink="/">Informacija 1</a></li>
                <li><a routerLink="/">Informacija 1</a></li>
            </ul>
        </div>
    </div>
</footer>

<pre>ERROR ON LINE 10: HTML tag P is not closed.</pre>
