<nav>
    <div class="container">
        <div class="brand">
            <a routerLink="/">Pamatukas</a>
        </div>
        <ul class="links">
            <li>
                <a routerLink="/">Pradžia</a>
            </li>
            <li>
                <a routerLink="/paslaugos">Paslaugos</a>
            </li>
            <li>
                <a routerLink="/apie-mus">Apie mus</a>
            </li>
            <li>
                <a routerLink="/kontaktai">Kontaktai</a>
            </li>
        </ul>
    </div>
</nav>
