button {
    position: fixed;
    top: 50%;
    right: 10px;
    background-color: rgb(255, 178, 178);
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    color: rgb(139, 0, 0);
    border: 1px solid rgb(139, 0, 0);
    transition: 0.2s all;
    z-index: 2000;

    &:hover {
        background-color: rgb(139, 0, 0);
        color: white;
    }
}

.modal {
    max-height: 80vh;
    overflow-y: scroll;

    ol {
        li {
            font-size: 16px;
            margin: 8px 0;

            input {
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 8px;
            }
        }
    }
}
