<div class="container page-content">
    <h1>Informacija apie šį pavyzdinį projektą</h1>

    <div class="event">
        <a href="https://www.linkedin.com/events/nemokamaswebinaras-nematomoskla7356567711092531202/" target="_blank">
            <img src="/assets/images/event-baneris.png" class="banner" alt="">
        </a>
        <a href="https://www.linkedin.com/in/ieva-jaksaityte/" target="_blank">
            <img src="/assets/images/linkedin.jpg" class="linkedin" alt="">
        </a>
    </div>
</div>
